<table class="table table-striped table-bordered">
  <thead>
      <tr>
          <th scope="col" *ngFor="let titulo of titulos">
              {{titulo}}
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
        <td *ngFor="let key of objectKeys(user)">
          {{ user[key] }}
      </td>
    </tr>
  </tbody>
</table>
